body{
    padding-left: 50pt;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

section{
    width: 100vw;

}

article {
    width: 100%;
}

table {
  width: 80%;
}

th{
    width: 30%;
}

td{
    width: 70%;
}